Horizont.Elv/Horizont.Elv.Service/Service References/UsersServiceReference/UsersService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://horzt.ru" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://horzt.ru" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://horzt.ru/Imports">
      <xsd:import schemaLocation="https://horzt.ru/WebServices/UsersService.svc?xsd=xsd4" namespace="http://horzt.ru" />
      <xsd:import schemaLocation="https://horzt.ru/WebServices/UsersService.svc?xsd=xsd0" namespace="HorizontSite" />
      <xsd:import schemaLocation="https://horzt.ru/WebServices/UsersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://horzt.ru/WebServices/UsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SystemClientLibrary" />
      <xsd:import schemaLocation="https://horzt.ru/WebServices/UsersService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UsersService_IsUserInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInRole" />
  </wsdl:message>
  <wsdl:message name="UsersService_IsUserInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="UsersService_GetUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoles" />
  </wsdl:message>
  <wsdl:message name="UsersService_GetUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="UsersService_CanUserServerRead_InputMessage">
    <wsdl:part name="parameters" element="tns:CanUserServerRead" />
  </wsdl:message>
  <wsdl:message name="UsersService_CanUserServerRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanUserServerReadResponse" />
  </wsdl:message>
  <wsdl:message name="UsersService_CanUserServerEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:CanUserServerEdit" />
  </wsdl:message>
  <wsdl:message name="UsersService_CanUserServerEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanUserServerEditResponse" />
  </wsdl:message>
  <wsdl:message name="UsersService_CanUserFlatRead_InputMessage">
    <wsdl:part name="parameters" element="tns:CanUserFlatRead" />
  </wsdl:message>
  <wsdl:message name="UsersService_CanUserFlatRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanUserFlatReadResponse" />
  </wsdl:message>
  <wsdl:message name="UsersService_CanUserFlatEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:CanUserFlatEdit" />
  </wsdl:message>
  <wsdl:message name="UsersService_CanUserFlatEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanUserFlatEditResponse" />
  </wsdl:message>
  <wsdl:portType name="UsersService">
    <wsdl:operation name="IsUserInRole">
      <wsdl:input wsaw:Action="http://horzt.ru/UsersService/IsUserInRole" message="tns:UsersService_IsUserInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://horzt.ru/UsersService/IsUserInRoleResponse" message="tns:UsersService_IsUserInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <wsdl:input wsaw:Action="http://horzt.ru/UsersService/GetUserRoles" message="tns:UsersService_GetUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://horzt.ru/UsersService/GetUserRolesResponse" message="tns:UsersService_GetUserRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanUserServerRead">
      <wsdl:input wsaw:Action="http://horzt.ru/UsersService/CanUserServerRead" message="tns:UsersService_CanUserServerRead_InputMessage" />
      <wsdl:output wsaw:Action="http://horzt.ru/UsersService/CanUserServerReadResponse" message="tns:UsersService_CanUserServerRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanUserServerEdit">
      <wsdl:input wsaw:Action="http://horzt.ru/UsersService/CanUserServerEdit" message="tns:UsersService_CanUserServerEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://horzt.ru/UsersService/CanUserServerEditResponse" message="tns:UsersService_CanUserServerEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanUserFlatRead">
      <wsdl:input wsaw:Action="http://horzt.ru/UsersService/CanUserFlatRead" message="tns:UsersService_CanUserFlatRead_InputMessage" />
      <wsdl:output wsaw:Action="http://horzt.ru/UsersService/CanUserFlatReadResponse" message="tns:UsersService_CanUserFlatRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanUserFlatEdit">
      <wsdl:input wsaw:Action="http://horzt.ru/UsersService/CanUserFlatEdit" message="tns:UsersService_CanUserFlatEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://horzt.ru/UsersService/CanUserFlatEditResponse" message="tns:UsersService_CanUserFlatEdit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>