Horizont.Claims/Horizont.Claims.Service/Service References/UsersServiceReference/UsersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemClientLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemClientLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://horzt.ru/WebServices/UsersService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressObject" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fathername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flat" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserObject" nillable="true" type="tns:UserObject" />
  <xs:complexType name="AddressObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocalId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="tns:RegionObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressObject" nillable="true" type="tns:AddressObject" />
  <xs:complexType name="RegionObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:CityObject" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocalId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="tns:ServerObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegionObject" nillable="true" type="tns:RegionObject" />
  <xs:complexType name="CityObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityObject" nillable="true" type="tns:CityObject" />
  <xs:complexType name="ServerObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimsService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElvService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerObject" nillable="true" type="tns:ServerObject" />
  <xs:complexType name="RuleObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:CityObject" />
      <xs:element minOccurs="0" name="Disp" nillable="true" type="tns:DispObject" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Permission" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="tns:RegionObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleObject" nillable="true" type="tns:RuleObject" />
  <xs:complexType name="DispObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="tns:RegionObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DispObject" nillable="true" type="tns:DispObject" />
  <xs:complexType name="ArrayOfUserObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserObject" nillable="true" type="tns:UserObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserObject" nillable="true" type="tns:ArrayOfUserObject" />
  <xs:complexType name="ArrayOfRuleObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RuleObject" nillable="true" type="tns:RuleObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRuleObject" nillable="true" type="tns:ArrayOfRuleObject" />
  <xs:complexType name="ArrayOfRuleObjectEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RuleObjectEx" nillable="true" type="tns:RuleObjectEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRuleObjectEx" nillable="true" type="tns:ArrayOfRuleObjectEx" />
  <xs:complexType name="RuleObjectEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="DispId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Permission" type="xs:int" />
      <xs:element minOccurs="0" name="RegionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleObjectEx" nillable="true" type="tns:RuleObjectEx" />
</xs:schema>